<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Collage</title>
    <style type="text/css">
        .collage {
            background-color: #000;
            width: 1110px;
            height: 319px;
            position: absolute;
            opacity: 0.75;
        }
        .big {
            text-align: center;
            height: 155px;
            width: 155px;
            background-color: green;
            margin: 3px;
        }
        .small {
            text-align: center;
            height: 76px;
            width: 76px;
            background-color: yellow;
            margin: 3px;
        }
    </style>
</head>
<body>
{% comment %}
{% for image in images %}
    <img src="{{ image }}" height="200", width="200" />
{% endfor %}
{% endcomment %}
<div class="collage">
    <div style="float: left">
        <div class="big"><img src="{{ images.0 }}" height="155" width="155" /></div>
        <div class="small"><img src="{{ images.1 }}" height="76" width="76" /></div>
        <div class="small"><img src="{{ images.2 }}" height="76" width="76" /></div>
    </div>
    <div style="float: left">
        <div class="big" style="margin-left: 0px"><img src="{{ images.3 }}" height="155" width="155" /></div>
        <div class="big" style="margin-left: -79px;"><img src="{{ images.4 }}" height="155" width="155" /></div>
    </div>
    <div style="float: left; margin-top: 158px; margin-left: -82px;">
        <div class="small"><img src="{{ images.5 }}" height="76" width="76" /></div>
        <div class="small"><img src="{{ images.6 }}" height="76" width="76" /></div>
    </div>
    <div style="float: left; margin-left: -3px;">
        <div class="small"><img src="{{ images.7 }}" height="76" width="76" /></div>
        <div class="big"><img src="{{ images.8 }}" height="155" width="155" /></div>
        <div class="small"><img src="{{ images.9 }}" height="76" width="76" /></div>
    </div>
    <div style="float: left; margin-left: -3px;">
        <div class="small" style="margin-left: -76px;"><img src="{{ images.10 }}" height="76" width="76" /></div>
        <div class="small"><img src="{{ images.13 }}" height="76" width="76" /></div>
        <div class="small"><img src="{{ images.14 }}" height="76" width="76" /></div>
        <div class="small" style="margin-left: -76px;"><img src="{{ images.11 }}" height="76" width="76" /></div>
    </div>
    <div style="float: left; margin-left: -3px;">
        <div class="small" style="margin-left: -76px;"><img src="{{ images.12 }}" height="76" width="76" /></div>
        <div class="big" style="margin-top: -79px;"><img src="{{ images.16 }}" height="155" width="155" /></div>
        <div class="big"><img src="{{ images.17 }}" height="155" width="155" /></div>
        <div class="small" style="margin-left: -76px; margin-top: -79px;"><img src="{{ images.15 }}" height="76" width="76" /></div>
    </div>
    <div style="float: left; margin-left: -3px;">
        <div class="small"><img src="{{ images.18 }}" height="76" width="76" /></div>
        <div class="small"><img src="{{ images.19 }}" height="76" width="76" /></div>
        <div class="big"><img src="{{ images.20 }}" height="155" width="155" /></div>
    </div>
    <div style="float: left; margin-left: -3px;">
        <div class="small" style="margin-left: -76px;"><img src="{{ images.21 }}" height="76" width="76" /></div>
        <div class="small" style="margin-left: -76px;"><img src="{{ images.22 }}" height="76" width="76" /></div>
    </div>
    <div style="float: left; margin-left: -3px;">
        <div class="big"><img src="{{ images.23 }}" height="155" width="155" /></div>
        <div class="small"><img src="{{ images.24 }}" height="76" width="76" /></div>
        <div class="small"><img src="{{ images.25 }}" height="76" width="76" /></div>
    </div>
    <div style="float: left; margin-left: -3px;">
        <div class="small"><img src="{{ images.26 }}" height="76" width="76" /></div>
        <div class="small"><img src="{{ images.27 }}" height="76" width="76" /></div>
        <div class="big" style="margin-left: -76px;"><img src="{{ images.28 }}" height="155" width="155" /></div>
    </div>
</div>
</body>
</html>